! Command: show running-config
! device: pdx-rtr-veos-01 (vEOS, EOS-4.24.0F)
!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
hostname pdx-rtr-veos-01
!
spanning-tree mode mstp
!
aaa authorization exec default local
!
enable password sha512 $6$I8/lieVPSGKeVFlc$rvzw.WUMrSdDVxJzVUdbBq1iDYqh.9ckYJLoUk3FRLg8ohgbSpIoxIe.NnUaNZRNBYfiG.gK.1UCYCeR/kRsh1
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$D8ETPL1XTQqA8xWt$aptkRzweFEnvCk5IQQZ9Cd66F49q5Vh4W2pWHTsDLlVSSokroBFznmDzHWB2aaDWsbn36XUoQ8GiUBDEshDNW0
!
vrf instance MGMT
!
interface Ethernet1
   no switchport
   ip address 10.0.0.2/24
!
interface Ethernet2
!
interface Ethernet3
!
interface Ethernet4
!
interface Ethernet5
!
interface Ethernet6
!
interface Ethernet7
!
interface Ethernet8
!
interface Loopback0
   ip address 192.168.2.1/24
!
interface Management1
   vrf MGMT
   ip address dhcp
!
ip routing
ip routing vrf MGMT
!
ip route vrf MGMT 0.0.0.0/0 192.168.10.1
!
router bgp 65002
   router-id 2.2.2.2
   neighbor 10.0.0.3 remote-as 65003
   neighbor 10.0.0.3 maximum-routes 12000
   network 192.168.2.0/24
!
management api http-commands
   no shutdown
   !
   vrf MGMT
      no shutdown
!
end
